<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>

<%= form_for @user, html: { multipart: true } do |form|%>
<%= form.label :first_name %><br>
<%= form.text_field :first_name %><br>
<%= form.label :las_name %><br>
<% end %>
</body>
</html>